.features-container {
    padding: 40px 20px;
    background-color: white;
    text-align: center;
}

.features-container h2 {
    color: var(--primary-color);
    margin-bottom: 30px;
}

.cards-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background-color: var(--bg-color);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    /* Simple lift effect */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.card-icon {
    font-size: 40px;
    color: var(--secondary-color);
    margin-bottom: 10px;
}

.card h3 {
    margin-top: 0;
    color: var(--text-color);
}